
#titleContainer{

   background-color:#808080;  

}

body{
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}





h2{

	color:#FFFFFF; 
}


.form-control
{
  -moz-border-radius: 15px;
 	border-radius: 1px;
    border-radius:  1px;
    border-style:  black; 
    font-size: 150%;
}


#linkToDesciption{
	margin-top: 20px;
}

textarea{

margin-bottom: 20px;	
font-size: 150%;
margin-left: 15px;	
}
/*#form-container{

 margin: 20px 40px 20px 70px;

}*/

.btn-lg:hover{
	color: #FFFFFF;
}

.btn-lg{
	
	border-radius: 1px;
	color:#FFFFFF;
	background-color:blue; 

}

textarea{

	display: none;
}

#myCarousel{
 
 	
    
}

img { 
	max-width: 100%;
	margin-bottom: 20px;
 }


#recentTabContainer{
	border: solid 1px black;
}


.thumbnail{

	width: 170px;
	height: 120px;
	margin: 10px;

}

.caption{

	text-align:center; 
}


.carousel {

	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}


#recentTabs{

	position: fixed;
	top: 400px;
	margin-left:100px; 


}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {
	margin-left:15px;
	background-image:none;
	}


#leftMove{

	margin-top: 25px;
}

#rightMove{

	margin-top: 25px;
}


    







